h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 20px;
}

.circle {
  text-align: left;
  border: 2px solid black;
  width: 90px;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.img {
  border: 2px solid black;
  border-radius: 50px;
  height: 100px;
  width: 76px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
label {
  display: block;
  margin-top: 10px;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #fff;
  margin-left: 10px;
  border: 1px solid #000;
}

button[type="cancel"] {
  background-color: #fff;
  margin-left: 10px;
  border: 1px solid #000;
}
body {
  justify-content: center;
  border: 1px solid black;
  padding-bottom: 10px;
  width: 900px;
}

fr {
  justify-content: center;
  margin: 10px;
}
